header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
}
.headerImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
}
footer {
  display: flex;
  justify-content: space-around;
}

h1,
h2,
h3 {
  text-align: center;
}
