:root {
  --background-dark: rgb(61, 40, 165);
  --background-light: rgb(221, 160, 239);
  --section-color: rgba(240, 160, 254, 0.25);
  --text-color: rgb(0, 0, 0);
}
body {
  background-image: linear-gradient(
    45deg,
    var(--background-light),
    var(--background-dark)
  );
  color: var(--text-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
}
.headerImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--section-color);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}
footer {
  display: flex;
  justify-content: space-around;
}

h1,
h2,
h3 {
  text-align: center;
}

section {
  background-color: var(--section-color);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}
.pdf-container {
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
.pdf-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.fullImg {
  width: 100%;
}

.wip {
  background-color: red;
}
a {
  color: rgb(0, 78, 204);
}

section#links > div {
  display: flex;
  justify-content: space-around;
}
