.galleryContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.galleryItem {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}

.galleryImage {
  display: block;
  max-width: 75%;
  max-height: 40rem;
  height: auto;
  object-fit: contain;
}

.galleryNavigation {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.galleryNavigation * {
  align-self: center;
}
