/* Move to module.css */

.pdfContainer {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.pdfContainer iframe {
  width: inherit;
  max-width: 75%;
  height: 100%;
  border: none;
}

.fullImg {
  width: 100%;
}

.wip {
  background-color: red;
}

section#links > div {
  display: flex;
  justify-content: space-around;
}

.content {
  margin: 2rem;
  z-index: 1;
}

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    var(--background-light),
    var(--background-dark)
  );
}

.parallax > * {
  position: absolute;
  bottom: 0;
}

.parallaxWave {
  mix-blend-mode: color-burn;
  opacity: 0.2;
}
.divider {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--background-dark);
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.codeBlockContainer {
  font-family: Consolas;
}

.button {
  background-color: var(--nav-item-background);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  outline: var(--outline);
  text-decoration: underline;
}
