:root {
  --background-dark: rgb(61, 40, 165);
  --background-light: rgb(221, 160, 239);
  --text-color: rgb(0, 0, 0);

  --section-color: rgb(193, 127, 224);
  --section-padding: 20px;
  --section-margin: 15px;
  --section-radius: 20px;

  --nav-item-background: rgb(138, 82, 179);
  --nav-item-hover-background: rgb(164, 98, 212);
  --outline-color: white;
  --outline: 2px solid var(--outline-color);

  --button-transition: scale 200ms, background-color 200ms, filter 200ms;
  --button-shadow: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
  --button-hover-shadow: drop-shadow(6px 6px 1px rgba(0, 0, 0, 0.25));
}

html {
  min-height: 100%;
  margin: 0;
}
body {
  margin: 0;
  color: var(--text-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 4rem);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
  flex-wrap: wrap;
}

header > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
}

footer > p {
  display: flex;
  justify-content: space-around;
}

h1,
h2,
h3 {
  text-align: center;
}

h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}

section,
nav,
footer {
  background-color: var(--section-color);
  padding: var(--section-padding);
  margin: var(--section-margin);
  border-radius: var(--section-radius);
  outline: var(--outline);
}
section {
  padding-left: 5vw;
  padding-right: 5vw;
}
a {
  color: rgb(0, 78, 204);
}

#root {
  position: relative;
}

table {
  padding: 10px;
}
td,
th {
  outline: 1px solid white;
  padding: 5px;
}

h1 {
  font-family: "Seaweed Script";
  font-size: 3rem;
}

@font-face {
  font-family: "Seaweed Script";
  src: url("/fonts/SeaweedScript-Regular.woff2") format("woff2"),
    url("/fonts/SeaweedScript-Regular.woff") format("woff"),
    url("/fonts/SeaweedScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
