.pdfContainer {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.pdfContainer iframe {
  width: inherit;
  max-width: 75%;
  height: 100%;
  border: none;
}

.fullImg {
  width: 100%;
}

.wip {
  background-color: red;
}

section#links > div {
  display: flex;
  justify-content: space-around;
}

.content {
  margin: 2rem 4rem 2rem 4rem;
  z-index: 1;
}

@media only screen and (max-device-width: 1000px) {
  .content {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
}
.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    var(--background-light),
    var(--background-dark)
  );
}

.parallax > * {
  position: absolute;
  bottom: 0;
}

.parallaxWave {
  mix-blend-mode: color-burn;
  opacity: 0.2;
}
.divider {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--background-dark);
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.codeBlockContainer {
  font-family: Consolas;
}

.button {
  background-color: var(--nav-item-background);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 1rem;
  cursor: pointer;
  outline: var(--outline);
  text-decoration: underline;
  transition: var(--button-transition);
  filter: var(--button-shadow);
}

.button:hover {
  scale: 1.1;
  background-color: var(--nav-item-hover-background);
  filter: var(--button-hover-shadow);
}
.largeSVGContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.largeSVGContainer > svg {
  max-width: 75%;
}

.returnButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-decoration: none;
  color: inherit;

  font-size: xx-large;

  transition: opacity 200ms;
}
.anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
