.navigationItem[data-has-sub-pages="true"]
  > :not(.navigationSubPages)
  > a::after {
  content: "  v";
}
.navigationItem[data-has-sub-pages="true"]:hover
  > :not(.navigationSubPages)
  > a::after {
  content: "  ^";
}
.navigationItem {
  position: relative;
}

.navigationSubPages {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.navigationItem:hover > .navigationSubPages {
  max-height: 500px;
  opacity: 1;
}

.navigationContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
