.project {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: var(--section-color);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectLogo {
  width: 20px;
  height: 20px;
}

.projectLogosContainer {
  display: flex;
  justify-content: space-around;
}
.projectsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shields {
  display: flex;
  justify-content: space-around;
}
